.popup__container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #ffffff;
  max-width: 358px;
  border-radius: 10px;
  align-self: center;
  padding: 34px 36px 37px 36px;
}

@media (max-width: 560px) {
  .popup__container {
    width: 240px;
  }
}

@media (max-width: 320px) {
  .popup__container {
    width: 238px;
    padding: 25px 22px;
  }
}
